body {font-family: Verdana, Geneva, Tahoma, sans-serif;}
.container {
    position: relative;
    overflow: hidden;
    width: 100%;
}
#chicken {
    background-color: aqua;
    border: 10px solid white;
}

#sushi {background-color: yellow;
    border: 10px solid white;

}

#beef {
    background-color: yellowgreen;
    border: 10px solid white;
}
 h2{text-align: center;}